main {
  display: flex;
  flex-direction: column;
  gap: 180px;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: grid;
  grid-template-columns: 1.51fr 2fr 1.5fr;
  align-items: center;
  padding: 92px 51px 89px;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-size: 18px;
  white-space: nowrap;
}

.text-link:hover {
  background-color: #000000;
  color: #fff;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  align-self: center;
  width: 140px;
}

.header__logo-image {
  width: 100%;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  font-style: inherit;
}
.address__item {
  display: block;
  font-size: 18px;
  line-height: 1.35;
  text-underline-position: under;
}

.address__address-text {
  font-size: 18px;
  line-height: 1.35;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6000000238418579;
  background-color: #000000;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}
.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  color: #fff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: 500;
  font-size: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
}

.bet-button:hover {
  color: #000000;
  background-color: #fff;
}

.lots {
  
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lots__heading {
  padding: 0 0 30px 40px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link{
  display: block;
  height: 100%;
}

.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 30px;
  width: auto;
  padding: 48px 40px;
}
.card_type_film{
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.card_type_book{
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.card_type_picture{
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.card__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-style: solid;
}

.card__text{
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link{
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration-line: underline;
  text-underline-position: under;
  width: fit-content;
}

.about{
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 24px;
  padding: 0 50px;
}

.about__colomn{
  justify-self: center;
}

.about__column_text {
  grid-column: 2/4;
}

.about__logo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image{
  width: 148px;
}

.about__title{
  padding: 100px 0 104px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text p {
  font-size: 20px;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 180px 50px 80px;
}

.footer__social-icon {
  width: auto;
  height: 48px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-size: 18px;
  line-height: normal;
  text-underline-position: under;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  list-style: none;
}



